CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_netgear_rbr50-v2=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ALL_PROFILES is not set
# CONFIG_TARGET_MULTI_PROFILE is not set
CONFIG_DEVEL=y
CONFIG_CCACHE=y
